<!doctype html>
<html lang="fr" class="h-full">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}C.K.F.R{% endblock %}</title>
  <!-- Tailwind (CDN pour MVP) -->
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="color-scheme" content="dark light">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
</head>
<body class="h-full bg-gradient-to-br from-zinc-900 via-slate-900 to-slate-800 text-slate-100">
  {% block body %}
  {% endblock %}
</body>
</html>
